fastapi==0.115.11
uvicorn==0.34.0
gradio==5.15.0
sqlalchemy==2.0.37
chromadb==0.6.3
sentence-transformers==3.4.1
pypdf==5.3.0
pdfplumber==0.11.5
python-docx==1.1.2
pandas==2.2.3
openpyxl==3.1.5
passlib==1.7.4
python-jose==3.3.0
bcrypt==4.2.1
python-multipart==0.0.20
langchain==0.3.17
langchain-community==0.3.16
huggingface-hub==0.28.1
tiktoken==0.9.0
python-dotenv==1.0.1

openai==1.60.1
requests==2.32.3
